body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
}

header input[type="text"] {
    padding: 8px;
    width: 60%;
    max-width: 400px;
    border: none;
    border-radius: 4px;
}

.welcome-message {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size:10px;
    border-bottom: 1px solid #ddd;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
    height: 100%;
}

nav {
    width: 200px;
    background: #ffffff;
    padding-top: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 15px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block;
}

nav ul li:hover {
    background: #4CAF50;
}

nav ul li.active {
    background-color: #4CAF50; /* Warna hijau highlight */
}


main {
    flex-grow: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

.overview, .task-management {
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.2);
}

.stats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat {
    background: #e7f3fe;
    padding: 20px;
    flex: 1;
    border-radius: 5px;
    min-width: 150px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #f2f2f2;
}
